<mat-toolbar class="mat-elevation-z4" color="primary" role="banner">
  <span>OIDC Identity Assertion Token Debugger</span>
</mat-toolbar>

<div role="main">
  <!-- ID Assertion Token Card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>ID Assertion Token</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- ID Assertion Token Input Field -->
      <mat-form-field appearance="fill">
        <mat-label>ID Assertion Token</mat-label>
        <input matInput type="text" [(ngModel)]="idAssertionToken">
        <button *ngIf="idAssertionToken" matSuffix mat-icon-button aria-label="Clear" (click)="idAssertionToken = ''">
          <mat-icon>close</mat-icon>
        </button>
        <button [disabled]="!idAssertionToken" matSuffix mat-icon-button aria-label="Copy to clipboard" (click)="copyToClipboard(idAssertionToken)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>

      <br>

      <!-- IAT Signature Validity -->
      <p class="signature-result">
        <span *ngIf="iatSignatureValid">Signature valid: {{ iatSignatureValid | async }}</span>
        <span *ngIf="iatSignatureValid === undefined">Signature not checked</span>

        <button mat-button [disabled]="!opPublicKey" (click)="verifyIatSignature()">Verify</button>
      </p>

      <!-- Advanced Options for ID Assertion Token -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced</mat-panel-title>
          <mat-panel-description>Parse and edit token</mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Header Input Field -->
        <mat-form-field appearance="fill">
          <mat-label>Header</mat-label>
          <input matInput type="text" [(ngModel)]="iatHeaderString">
          <button *ngIf="iatHeaderString" matSuffix mat-icon-button aria-label="Clear" (click)="iatHeaderString = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <br>

        <!-- Payload Input Field -->
        <mat-form-field appearance="fill">
          <mat-label>Payload</mat-label>
          <input matInput type="text" [(ngModel)]="iatPayloadString">
          <button *ngIf="iatPayloadString" matSuffix mat-icon-button aria-label="Clear" (click)="iatPayloadString = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <br>

        <!-- Signature Input Field -->
        <mat-form-field appearance="fill">
          <mat-label>Signature</mat-label>
          <input matInput type="text" [(ngModel)]="iatSignatureString">
          <button *ngIf="iatSignatureString" matSuffix mat-icon-button aria-label="Clear" (click)="iatSignatureString = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- Sign IAT Button -->
        <button mat-button [disabled]="!opPublicKey" (click)="signIat()">Sign</button>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <!-- OpenID Provider Card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>OpenID Provider</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- URI of OpenID Provider -->
      <a [href]="issuerUri" target="_blank">{{ issuerUri }}</a>

      <br>

      <!-- Public Key Form Field -->
      <mat-form-field appearance="fill">
        <mat-label>Public Key</mat-label>
        <input matInput type="text" [(ngModel)]="opPublicKeyString">
        <button *ngIf="opPublicKeyString" matSuffix mat-icon-button aria-label="Clear" (click)="cnfPublicKeyString = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Advanced Options for OpenID Provider -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Private Key</mat-panel-title>
          <mat-panel-description>Create and edit</mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Private Key Input Field -->
        <mat-form-field appearance="fill">
          <mat-label>Private Key</mat-label>
          <input matInput type="text" [(ngModel)]="opPrivateKeyString">
          <button *ngIf="opPrivateKeyString" matSuffix mat-icon-button aria-label="Clear" (click)="opPrivateKeyString = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-button (click)="generateOpKeyPair()">Create</button>

        <br>

        <!-- Issuer URI Input Field -->
        <mat-form-field appearance="fill">
          <mat-label>Issuer URI</mat-label>
          <input matInput type="text" [(ngModel)]="issuerUri">
          <button *ngIf="issuerUri" matSuffix mat-icon-button aria-label="Clear" (click)="issuerUri = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <!-- Confirmation Key Card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Confirmation Key</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Public Key Input Field -->
      <mat-form-field appearance="fill">
        <mat-label>Public Key</mat-label>
        <input matInput type="text" [(ngModel)]="cnfPublicKeyString">
        <button *ngIf="cnfPublicKeyString" matSuffix mat-icon-button aria-label="Clear" (click)="cnfPublicKeyString = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Advanced Options for Confirmation Key -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Private Key</mat-panel-title>
          <mat-panel-description>Create and edit</mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Private Key Input Field -->
        <mat-form-field appearance="fill">
          <mat-label>Private Key</mat-label>
          <input matInput type="text" [(ngModel)]="cnfPrivateKeyString">
          <button *ngIf="cnfPrivateKeyString" matSuffix mat-icon-button aria-label="Clear" (click)="cnfPrivateKeyString = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-button (click)="generateCnfKeyPair()">Create</button>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <!-- Message Card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Message</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Encoded Message with Signature -->
      <mat-form-field appearance="fill">
        <mat-label>Encoded</mat-label>
        <input matInput type="text" [(ngModel)]="message">
        <button *ngIf="message" matSuffix mat-icon-button aria-label="Clear" (click)="message = ''">
          <mat-icon>close</mat-icon>
        </button>
        <button [disabled]="!message" matSuffix mat-icon-button aria-label="Copy to clipboard" (click)="copyToClipboard(message)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>

      <!-- Parsed Message Payload -->
      <p class="message-container">{{ messagePayload }}</p>

      <!-- Message Signature Validity -->
      <p class="signature-result">
        <span *ngIf="messageSignatureValid">Signature valid: {{ messageSignatureValid | async }}</span>
        <span *ngIf="messageSignatureValid === undefined">Signature not checked</span>

        <button mat-button [disabled]="!cnfPublicKey" (click)="verifyMessageSignature()">Verify</button>
      </p>

      <!-- Advanced Options for Message -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced</mat-panel-title>
          <mat-panel-description>Edit and Sign</mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Message Payload Text Field -->
        <mat-form-field appearance="fill">
          <mat-label>Payload</mat-label>
          <input matInput type="text" [(ngModel)]="messagePayload">
          <button *ngIf="messagePayload" matSuffix mat-icon-button aria-label="Clear" (click)="messagePayload = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <br>

        <!-- Message Signature Text Field -->
        <mat-form-field appearance="fill">
          <mat-label>Signature</mat-label>
          <input matInput type="text" [(ngModel)]="messageSignature">
          <button *ngIf="messageSignature" matSuffix mat-icon-button aria-label="Clear" (click)="messageSignature = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- Generate Message Signature Button -->
        <button mat-button [disabled]="!cnfPrivateKey" (click)="signMessage()">Sign</button>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
